numpy
# Tensorflow API is rapidly evolving (last time I checked)
# This is the version I designed against
tensorflow~=2.11.*
# Optional, for example script
matplotlib~=3.7.*
seaborn~=0.12.*
scikit-learn~=1.2.*
